version : "2.2"
services:
  db :
    image : "mongo"
    ports :
      - "27017:27017"
    volumes :
      - .:/code
    environment :
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin@123
  web :
    image : "cliff-task"
    volumes :
      - .:/code
    ports :
      - "8000:8000"